* {
    font-family: 'Roboto', sans-serif;
}

#textLogo{
    font-size: 250%;
    font-weight:bolder;
}

.box {
    display: flex;
    align-items:center;
    padding-left: 2%;
    padding-top: 1%;
 }