* {
    font-family: 'Roboto', sans-serif;
}

#textLogo{
    font-size: 250%;
    font-weight:bolder;
}

.box{
    display: flex;
    align-items:center;
    padding-left: 2%;
    padding-top: 1%;
 }

 #container{
    width: 60%;
    margin: auto;
    margin-top: 5%;
 }

 #taskButton{
    background-color: rgba(11, 186, 255, 0.966);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
 }

 #sectionButton{
    background-color: white;
    border: 1px solid rgba(11, 186, 255, 0.966);
    color: rgba(11, 186, 255, 0.966);
    border-radius: 5px;
    padding: 1%;
 }

 .category{
    padding-top: 5%;
 }

 .categoryTitle{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(68, 68, 68);
 }

 .editorial{
    background-color: rgba(11, 186, 255, 0.966);
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
 }

 .q1goals{
    background-color: rgba(119, 0, 255, 0.712);
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
 }
 
.recruiting{
    background-color: rgba(0, 255, 157, 0.753);
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
}

.mobile{
    background-color: rgba(241, 162, 44, 0.986);
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
}

.website{
    background-color: rgba(255, 13, 174, 0.712);
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
}

.sales{
    background-color: rgba(10, 255, 10, 0.712);
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
}

.row{
    padding-top: 2%;
}

.cross{
    color: red;
}

.check{
    color: green;
}
